p {
    font-size: 22px;
    margin-bottom: 10px;
}

header {
    width: 100%;
    height: 100vh;
    background: url(../img/calourosFinal.jpg) no-repeat bottom;
    background-size: 70%;
}

header .topHeader {
    width: 90%;
    height: 70px;
    padding: 10px;
}

header .topHeader a {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
    color: var(--primary-color);
    margin-left: 37px;
}

header .topHeader a:hover {
    color: var(--graywhite-color);
}

header .topHeader img.imagem {
    float: right;
}

header .header-content {
    width: 80%;
    height: 70%;
    margin: auto auto;
}

header .header-content h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--primary-color);
    margin: 25px;
}

header .header-content p {
    font-size: 1.3rem;
    padding: 10px;
    text-align: justify;
}


/* Inicio do codigo da área do main */

main .container {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}

main .container .articleOne {
    width: 90%;
    height: 70%;
    padding: 12px;
    margin: 0 auto;
}

main .container .articleOne h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
}

main .container .articleOne p {
    font-size: 22px;
    text-align: justify;
    margin-bottom: 10px;
}


/*  */

main #containerTwo {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
}

main #containerTwo div h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 50px;
}

main #containerTwo article {
    margin: 20px;
    width: 80%;
    margin: 0 auto;
}

main #containerTwo article h3 {
    color: var(--graywhite-color);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

main #containerTwo article p {
    color: white;
}

main #containerTwo article img {
    width: 100%;
    border-radius: 20px;
    margin: 20px auto;
}


/*  */

main #tutoriais {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

main #tutoriais h2 {
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
    padding: 50px;
}

main #tutoriais p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
}

main #tutoriais .video {
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    height: 40px;
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    bottom: -10px;
    font-size: 1.1rem;
}

footer p,
span {
    margin: auto auto;
}